@font-face{
    font-family: 'Bratt Graner';
    src: url(fonts/Bratt\ Graner.ttf);
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
    font-size: 20px;
    font-family: verdana;
}

h1 {
    background-color: rgb(110, 141, 185);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-family: 'Bratt Graner', verdana;
}

form {
    text-align: center;
}